<div style="background-color: #EFF9A0">
  <img src="../../assets/images/Group 17.png" alt="" class="img-fluid" />
</div>
<div class="container-fluid" style="background-color: #EFF9A0">
  <div style="padding: 5%">
    <h1>Documents Required For Admisions</h1>
    <br /><br />
    <p>1) 4 Passport Size Photographs of Student *</p>
    <br />
    <p>2) Birth Certificate Xerox *</p>
    <br />
    <p>3) Aadhar Card Xerox of Student *</p>
    <br />
    <p>4) 1 Passport Size Photograph of Parents (Mother and Father Both) *</p>
    <br />
    <p>5) Parents Aadhar Card Xerox *</p>
    <br />
    <p>6) Other Certificates</p>
    <br />
    <p>7) Transfer Certificate (T.C) if transfering From other School *</p>
    <br /><br />
    <h4>Note : All The * Marked Are Mandatory</h4>
    <br /><br />
  </div>
  <footer style="padding-bottom:1%">
    <p class="float-right">All Rights Reserved.</p>
    <p>
      &copy; 2017-2019 Al Hidayah International Islamic School&middot;
      <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
    </p>
  </footer>
</div>
