<div style="background-color: #EFF9A0">
  <img src="../../assets/images/Group 16.png" alt="" class="img-fluid" />
</div>
<div class="container-fluid" style="background-color: #EFF9A0">
  <br /><br />
  <div class="row">
    <div class="col-md-4 order-md-1" style="padding: 3%">
      <h1>For Admission Queries</h1>
      <br />
      <p>
        <span style="font-weight: bold"> Contact:</span> +91 8309467312,
        9880049491
      </p>
      <p>
        <span style="font-weight: bold"> Email:</span>
        alhidayahgulbarga2018@gmail.com
      </p>
      <p style="font-weight: bold">
        Walk-in with prior appointment for the admission process.
      </p>
    </div>

    <div class="col-md-6 order-md-1 float-right " style="padding: 3%">
      <h1>Our Campus Location</h1>
      <br />
      <p style="font-weight: bold">Icon Valley, Misbah Nagar</p>
      <p style="font-weight: bold">Ring Road, MSK Mill</p>
      <p style="font-weight: bold">Kalaburagi 585103</p>
      <br />
      <agm-map [latitude]="latitude" [longitude]="longitude">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div style="padding-bottom: 15%"></div>
  <footer style="padding-bottom:1%">
    <p class="float-right">All Rights Reserved.</p>
    <p>
      &copy; 2017-2019 Al Hidayah International Islamic School&middot;
      <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
    </p>
  </footer>
</div>
