<div style="background-color: #EFF9A0">
  <img src="../../assets/images/Group 18.png" alt="" class="img-fluid" />
</div>
<div class="container-fluid" style="background-color: #EFF9A0">
  <br /><br /><br />
  <div class="container">
    <h1 style="color: #169083">Academic Syllabus</h1>
    <br /><br />
    <p>Science</p>
    <p>Social Science</p>
    <p>Mathematics</p>
    <p>Computer</p>
    <p>English</p>
    <p>Kannada</p>
    <p>Urdu</p>
    <br /><br />
    <h1 style="background-color: #EFF9A0">Islamic Syllabus</h1>
    <br /><br />
    <p>Tajweed of Quran</p>
    <p>Nazirah Quran</p>
    <p>Hifz - e - Quran</p>
    <p>Arabic Language</p>
    <p>Islamic Studies</p>
    <p>Islamic Etiquettes</p>
    <br /><br />
    <h1>Extra Curricular Activities</h1>
    <br /><br />
    <p>Art And Crafts</p>
    <p>Martial Arts</p>
    <p>Speech Training</p>
    <p>Sports</p>
    <p>Drawing</p>
    <p>Theme Dressing</p>

    <div style="padding-bottom: 15%"></div>
    <footer style="padding-bottom:1%">
      <p class="float-right">All Rights Reserved.</p>
      <p>
        &copy; 2017-2019 Al Hidayah International Islamic School&middot;
        <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
      </p>
    </footer>
  </div>
</div>
