<main role="main">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../assets/images/poster.jpg"
          alt=""
          class="img-fluid bd-placeholder-img"
        />
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Example headline.</h1>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
              id elit non mi porta gravida at eget metus. Nullam id dolor id
              nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
        >
          <rect width="100%" height="100%" fill="#777" />
        </svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
              id elit non mi porta gravida at eget metus. Nullam id dolor id
              nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg
          class="bd-placeholder-img"
          width="100%"
          height="100%"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
        >
          <rect width="100%" height="100%" fill="#777" />
        </svg>
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>One more for good measure.</h1>
            <p>
              Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec
              id elit non mi porta gravida at eget metus. Nullam id dolor id
              nibh ultricies vehicula ut id elit.
            </p>
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#myCarousel"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#myCarousel"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- Marketing messaging and featurettes
    ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="container-fluid hikmah">
      <div class="row ">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            Al Hikmah Educational And Charitable Trust
          </h2>
          <p class="lead">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
            ligula porta felis euismod semper. Praesent commodo cursus magna,
            vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.
          </p>
        </div>
        <div class="col-md-5">
          <img src="../../assets/images/Hikmah.PNG" alt="" srcset="" />
        </div>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="Container">
      <h1>Salient Features</h1>
    </div>
    <br /><br /><br /><br /><br />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">CBSE Syllabus</h2>
        <p class="lead">
          Our Institution Follows CBSE Syllabus approved by Central Government.
          The Central Board of Secondary Education (CBSE) is a national level
          board of education in India for public and private schools, controlled
          and managed by Union Government of India. CBSE has asked all schools
          affiliated to follow only NCERT curriculum. There are approximately
          20,299 schools in India and 220 schools in 28 foreign countries
          affiliated to the CBSE.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="../../assets/images/cbse-logo.jpg" class="cbse-logo" alt="" />
      </div>
    </div>

    <br /><br /><br /><br />

    <div class="row featurette reading">
      <div class="col-md-7">
        <h2 class="featurette-heading" style="color: aliceblue">
          Hifz Of Quran
        </h2>
        <p class="lead" style="color: aliceblue">
          With Academic Studies we also concentrate on teaching the Islamic
          Preachings to the students. We also Have Islamic Syllabus which
          includes Tajweed of Quran, Nazirah Quran, Hifz - e - Quran, Arabic
          Language, Islamic Studies, Islamic Etiquettes.
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="../../assets/images/muslim-reading-al-quran-vector.jpg"
          class="reading-quran"
          alt=""
        />
      </div>
    </div>

    <br /><br /><br /><br />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Modern Teaching Aids</h2>
        <p class="lead">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
          ligula porta felis euismod semper. Praesent commodo cursus magna, vel
          scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          src="../../assets/images/online-training_41910-197.jpg"
          class="modern"
          alt=""
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="container-fluid">
      <h1>Notifications</h1>
      <br /><br /><br /><br />
      <p>No New Notifications</p>
    </div>

    <br /><br /><br /><br /><br /><br />

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->

  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right">All Rights Reserved.</p>
    <p>
      &copy; 2017-2019 Al Hidayah International Islamic School&middot;
      <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
    </p>
  </footer>
</main>
